
.floatRight {
    float: right !important;
    padding-top: 8px;
    padding-bottom: 8px;
}
.floatLeft {
    float: left !important;
    padding-top: 8px;
    padding-bottom: 8px;
}
.phoneMaster{
    max-height: 822px;
  /*  max-width: 400px;*/
 
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* min-height: 853px !important;
    max-width: 480px !important;
*/
}
.showBorderInPhone > * {
                border: 1px solid darkcyan;	
         
            	}
