{% extends 'FrontEnd/base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<h1>Create App!</h1>
		<p>{{appname|upper}}</p>

		<div class="row">
			<div id="app" class=" col-md-6">
				<App/>
			</div>
			<div class=" col-md-6">
				<div class=" bg-success rounded phoneMaster" id="phone"></div>
			</div>
		</div>
	</div>
	<script src="./js/module.js"></script>
{% endblock %}
