{% extends 'FrontEnd/base.html.twig' %}

{% block body %}
	<h1>Hello
		{{ name }}!</h1>

	<div class="container">
		{{ form(form) }}
		</div>


		<script src="./js/module.js"></script>


	{% endblock %}
