<object type="application/pdf" style="  width: 100vw;
										   height: 100vw;
										   max-width: 100%;">
	<param name="src" value="{{src}}"/>

	<p>It appears your Web browser is not configured to display PDF files.
																															      No worries, just
		<a href="{{ asset(src) }}">click here to download the PDF file.</a>
	</p>

</object>
